body {
  background-repeat: repeat;
  background: #f8f8fa;
  font-family: $body-font;
  color: #5b626b;
  font-size: 15px;
}

html {
  overflow-x: hidden;
  position: relative;
  min-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-family: $heading-font;
  font-weight: 600;
}

p {
  line-height: 1.7;
}

svg {
  max-width: 100%;
}

a {
  color: #6c757d;
  &:hover, &:active, &:focus {
    outline: 0;
    text-decoration: none;
  }
}

b, strong {
  font-weight: 500;
}
